---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Email from "../icons/Email.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout
	title="Portfolio saav - React Native Developer"
	description="React Native / Expo Developer"
>
	<main>
		<SectionContainer class="py-44">
			<h1
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4"
			>
				Hey, soy Alejandro
				<a
					href="https://www.linkedin.com/in/%F0%9F%91%8Balejandro-a-218939202/"
					rel="noopener"
					target="_blank"
					class="flex justify-content items-center"
				>
					<Badge>Diponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-2xl">
				5 años de experiencia. Crear soluciones web.
			</h2>

			<nav class="flex gap-x-2 mt-18">
				<SocialPill>
					<Linkedin class="size-8 fill-white" />
					Linkedin
				</SocialPill>

				<SocialPill>
					<Github class="size-8 fill-white" />
					Github
				</SocialPill>

				<SocialPill>
					<Email class="size-8 fill-white" />
					saavalencia97@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold mb-10">Experiencia laboral</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
