---

---

<div
  class="w-[400px] lg:w-fit lg:h-[430px] m-auto bg-black/20 backdrop-blur-lg rounded-lg shadow-lg hover:shadow-2xl hover:-translate-y-1 transition-transform duration-300 text-white flex-col items-start border border-transparent hover:border-gray-400 transition"
>
  <div
    class="p-6 bg-black/10 backdrop-blur-lg h-1 flex items-center rounded-t-lg"
  >
    <h2 class="text-lg font-semibold text-white">About Me</h2>
  </div>
  <p class="p-4 text-[15px] mt-2 text-white text-wrap text-pretty">
    I am a skilled Front-End Developer with over five years of experience
    specializing in ReactJS and React Native. I have strong experience working
    with frameworks and libraries like Redux, Expo, Cypress, and Material UI,
    and I'm highly skilled in programming languages such as JavaScript,
    TypeScript, and Java.
  </p>
</div>
