---

---

<div
  class="w-fit h-[430px] bg-black/20 backdrop-blur-lg rounded-lg shadow-lg text-white max-w-sm mx-auto flex-col items-start"
>
  <div
    class="p-6 bg-black/10 backdrop-blur-lg h-1 flex items-center rounded-t-lg"
  >
    <h2 class="text-lg font-semibold text-white">About Me</h2>
  </div>
  <p class="p-4 text-sm mt-2 text-white">
    I am a skilled Front-End Developer with over five years of experience
    specializing in ReactJS and React Native. I have strong experience working
    with frameworks and libraries like Redux, Expo, Cypress, and Material UI,
    and I'm highly skilled in programming languages such as JavaScript,
    TypeScript, and Java.
  </p>
</div>
