---

---

<div
  class="m-auto lg:ml-[60px] w-[415px] h-fit bg-black/20 backdrop-blur-lg rounded-lg shadow-lg hover:shadow-2xl hover:-translate-y-1 transition-transform duration-300 text-white flex-col items-start border border-transparent hover:border-gray-400 transition"
>
  <div
    class="p-6 bg-black/10 backdrop-blur-lg h-1 flex items-center rounded-t-lg"
  >
    <h2 class="text-lg font-semibold text-white">Education</h2>
  </div>
  <div class="p-4">
    <p class="text-md mt-2 text-white">· Bachelor of Science and Technology</p>
    <p class="text-sm text-white italic text-end">
      IES Monduver, Valencia - Spain
    </p>

    <p class="mt-4 text-sm mt-2 text-white">
      · Tech. Automation and Industrial Robotics
    </p>
    <p class="text-sm text-white italic text-end">
      IES Jaume I, Valencia - Spain
    </p>
  </div>
</div>
