---

---

<div
  class="m-auto w-[600px] lg:ml-[60px] lg:w-[695px] h-fit bg-black/20 backdrop-blur-lg rounded-lg shadow-lg hover:shadow-2xl hover:-translate-y-1 transition-transform duration-300 text-white flex-col items-start border border-transparent hover:border-gray-400 transition"
>
  <div
    class="p-6 bg-black/10 backdrop-blur-lg h-1 flex items-center rounded-t-lg"
  >
    <h2 class="text-lg font-semibold text-white">Experience</h2>
  </div>
  <div class="p-6">
    <div class="flex flex-row justify-between">
      <p class="text-md text-white">
        · T-Systems, Barcelona - React/React Native Developer
      </p>
      <p class="text-sm text-white italic">June 2022 - Present</p>
    </div>
    <div class="flex flex-row justify-between mt-3">
      <p class="text-md text-white">· Idrica, Valencia - FrontEnd Developer</p>
      <p class="text-sm text-white italic">April 2021 - June 2022</p>
    </div>
    <div class="flex flex-row justify-between mt-3">
      <p class="text-md text-white">· Pccom, Alicante - Mobile Developer</p>
      <p class="text-sm text-white italic">March 2019 - May 2021</p>
    </div>
  </div>
</div>
