---

---

<header
  class="mt-2 w-[80px] h-2 bg-black/20
      backdrop-blur-lg rounded-lg shadow-lg transition-transform duration-300
      text-white flex flex-row items-center justify-between
      absolute top-0 right-[10%] p-4"
>
  <button
    id="btn1"
    class="w-4 h-4 bg-[#298C98] rounded-full border-2 border-transparent focus:ring-2 focus:ring-blue-700"
    ondblclick="console.log('double click')"></button>

  <button
    id="btn2"
    class="w-4 h-4 bg-[#DD7961] rounded-full border-2 border-transparent focus:ring-2 focus:ring-red-700"
  ></button>
</header>
