<header class="flex justify-between items-center py-4 w-[1120px] mx-auto">
    <img
        class="rounded-full w-12 h-12"
        src="https://avatars.githubusercontent.com/u/66746179?v=4"
        alt="Alejandro"
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
