---

---

<div
  class="p-4 w-[230px] h-fit relative bg-black/20 backdrop-blur-lg rounded-lg shadow-lg text-white flex flex-col items-start"
>
  <img
    src="githubprofile.jpeg"
    alt="Profile Picture"
    class="rounded-full shadow-md w-28 h-28 object-cover"
  />
  <div class="mt-4">
    <h1 class="text-xl font-bold">Alejandro Alcocer</h1>
    <p class="text-md mt-2">saavalencia97@gmail.com</p>
  </div>
</div>
