---
import IconApp from "./IconApp.astro";
---

<div
  class="h-fit bg-black/20 backdrop-blur-lg rounded-lg shadow-lg hover:shadow-2xl hover:-translate-y-1 transition-transform duration-300 text-white max-w-sm mx-auto flex-col items-start border border-transparent hover:border-blue-500 transition"
>
  <div
    class="p-6 bg-black/10 backdrop-blur-lg h-1 flex items-center rounded-t-lg"
  >
    <h2 class="text-lg font-semibold text-white">Technologies</h2>
  </div>
  <div class="p-6 flex-wrap flex justify-start gap-4">
    <IconApp src="js.png" title="javascript" />
    <IconApp src="typescript.png" title="typescript" />
    <IconApp src="react.png" title="react" />
    <IconApp src="redux.png" title="redux" />
    <IconApp src="astro.png" title="astro" />
    <IconApp src="cypress.png" title="cypress" />
    <IconApp src="styled.png" title="styled" />
    <IconApp src="expo.png" title="expo" />
    <IconApp src="threejs.png" title="threejs" />
  </div>
</div>
